.darkMode {
  height: 1rem;
  cursor: pointer;
}

.change {
  margin: 1rem;
  width: 5rem;
  padding: 4px;
  border-radius: 5rem;
  display: flex;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .darkMode {
    height: 1rem;
  }
  .change {
    margin-top: -1rem;
  }
}
