.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h2 {
  font-size: 2rem;
  margin: 1rem;
}

.items {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
  height: auto;
}

.myprojects {
  width: 25rem;
  height: 20rem;
  background-color: #f79354;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 1rem;
}

.myprojects:hover {
  transform: scale(1.05);
}

.img_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  transition: top 0.5s ease;
}

.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: transform 0.5s ease;
}

.myprojects:hover .img_box img {
  transform: scale(1.1);
}

.content {
  position: relative;
  z-index: 1;
  padding: 1rem;
  border-radius: 1rem;
  top: 100%;
  transition: top 0.5s ease;
  color: white;
  transition: 0.3s ease-out;
}

.content p {
  margin: 1rem;
  color: white;
  font-weight: bold;
}

.myprojects:hover .content {
  top: 50%;
  height: 100%;
  width: 100%;
  background-color: #ff6200fb;
}

.readmore {
  color: #141c3a;
  text-decoration: none;
  background-color: #f79354;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.readmore:hover {
  background-color: #ffdf50;
}

@media (max-width: 1000px) {
  .projects {
    margin-top: 2rem;
  }
  .myprojects:active .img_box img {
    transform: scale(1.1);
  }

  .myprojects:active .content {
    top: 50%;
    height: 100%;
    width: 100%;
    background-color: #ff6200fb;
  }

  .readmore:active {
    background-color: #ffdf50;
  }
}
